Source: {{name}}
Section: admin
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/Ubuntu-Solutions-Engineering/{{name}}-deb
Vcs-Browser: https://github.com/Ubuntu-Solutions-Engineering/{{name}}-deb
Vcs-Git: https://github.com/Ubuntu-Solutions-Engineering/{{name}}-deb.git

Package: {{name}}
Architecture: all
Depends: conjure, ${misc:Depends}
Description: {{summary}}
{{description}}
